<body class="text-center">
    <main class="form-signin">
        <form [formGroup]="userForm">
            <img class="mb-4" src="/assets/logo.png" alt="" width="72" height="57" />
            <h1 class="h3 mb-3 fw-normal">Profil Düzenle</h1>
            <div class="form-floating">
                <input appText type="text" class="form-control" formControlName="firstName" id="floatingInputFirstNmae"
                    placeholder="semih" />
                <label for="floatingInput">İsim</label>
            </div>
            <div class="form-floating">
                <input appText type="text" class="form-control" formControlName="lastName" id="floatingInputLastName"
                    placeholder="elibol" />
                <label for="floatingInput">Soyisim</label>
            </div>
            <div class="row">
                <div class="col-md-6" style="text-align: end">
                    <button class="w-100 btn btn-lg btn-primary" (click)="updateClick()">
                        Kaydet
                    </button>
                </div>
                <div class="col-md-6" style="text-align: start">
                    <button class="w-100 btn btn-lg btn-warning" routerLink="/cars">
                        Vazgeç
                    </button>
                </div>
            </div>
        </form>
    </main>
</body>