<div class="card">
    <div class="card-header">
        <h5 class="title">Araba Bilgileri</h5>
    </div>
    <div class="card-body">
        <div class="mb-3" *ngIf="car">
            <label for="id"> Kodu:</label>
            <div class="form-group">
                <input class="form-control" [(ngModel)]="car.id" id="id" type="text" readonly />
            </div>
        </div>
        <form [formGroup]="carAddForm">
            <div class="mb-3">
                <label for="description"> Araba Adı:</label>
                <div class="form-group">
                    <input appText class="form-control" formControlName="description" id="description" type="text" />
                </div>
            </div>

            <div class="mb-3">
                <label for="brandId">Marka Seçin:</label>
                <div class="form-group">
                    <select appText type="select" id="brandId" formControlName="brandId"
                        class="form-control">
                        <option [ngValue]="brand.id" *ngFor="let brand of brands" >
                            {{ brand.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="colorId">Renk Seçin:</label>
                <div class="form-group">
                    <select appText type="select"  id="colorId" formControlName="colorId" 
                        class="form-control">
                        <option  [ngValue]="color.id" *ngFor="let color of colors">
                            {{ color.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="modelYear"> Model Yılı:</label>
                <div class="form-group">
                    <input appText class="form-control" min=1962 formControlName="modelYear" id="modelYear" type="number" />
                </div>
            </div>
            <div class="mb-3">
                <label for="minFindeksScore"> Minumum Findeks Puanı:</label>
                <div class="form-group">
                    <input appText class="form-control" min=0 max=1900 formControlName="minFindeksScore" id="minFindeksScore" type="number" />
                </div>
            </div>

            <div class="mb-3">
                <label for="dailyPrice"> Günlük Kira Ücreti:</label>
                <div class="form-group">
                    <input appText class="form-control" min=1 formControlName="dailyPrice" id="dailyPrice" type="number" />
                </div>
            </div>
        </form>
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-md-6" style="text-align: end">
                <button class="btn btn-fill btn-primary" (click)="carAdd()">
                    Kaydet
                </button>
            </div>
            <div class="col-md-6" style="text-align: start">
                <button class="btn btn-fill btn-warning" routerLink="/cars">
                    Vazgeç
                </button>
            </div>
        </div>
    </div>
</div>